// Nextflow configuration for CRC Visium HD pipeline

params {
    // Input/Output
    data_dir = "/scratch/prj/mmg_grp_single_cell_lab/projects/michael/data/CRC_VisiumHD"
    outdir = "/scratch/prj/mmg_grp_single_cell_lab/projects/michael/pipeline_output/CRC_Nextflow"
    
    // Container and libraries
    container = "/scratch/prj/mmg_grp_single_cell_lab/projects/michael/bioc_3.19.sif"
    r_libs = "/scratch/prj/mmg_grp_single_cell_lab/projects/michael/R_libs_4.4"
    
    // Samples to process
    samples = ['P1', 'P2', 'P5']
}

// Execution profiles
profiles {
    slurm {
        process {
            executor = 'slurm'
            queue = 'cpu'
            
            withName: 'PHASE1_CLUSTER' {
                cpus = 4
                memory = '256 GB'
                time = '2h'
            }
            
            withName: 'BANKSY_CLUSTER' {
                cpus = 4
                memory = '256 GB'
                time = '2h'
            }
        }
        
        executor {
            queueSize = 6
            submitRateLimit = '10 sec'
        }
    }
    
    standard {
        process.executor = 'local'
    }
}

// Manifest
manifest {
    name = 'CRC-VisiumHD-Pipeline'
    description = 'Independent sample processing for CRC Visium HD'
    author = 'Michael Tuft'
    version = '1.0.0'
    nextflowVersion = '>=23.10.0'
}

// Trace and timeline
trace {
    enabled = true
    file = "${params.outdir}/pipeline_trace.txt"
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_report.html"
}
